:root {
    --color-bg: lightgrey;
    --color-border-highlight: #FFD700;

    --color-text: black;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --font-xs: 0.8rem;
    --font-sm: 1rem;
    --font-md: 1.5rem;
    --font-lg: 2rem;
    --font-xxl: 5rem;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    --radius-sm: 0.2rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;

    --green-500: #22c55e;
    --green-700: #15803d;
    --red-500: #ef4444;
    --red-700: #b91c1c;
    --yellow-500: #FFD700;
    --yellow-700: #b89400;
}
